python-dotenv
selenium
pyautogui
pyperclip
deep-translator
gTTS
playsound==1.2.2
pvporcupine
PyAudio
SpeechRecognition
google-api-python-client
google-generative-ai
pycaw
comtypes
psutil
requests
Pillow
pygetwindow
pyscreeze
pymsgbox
mouseinfo
